title: Hypha Worker Co-operative
email: hello@hypha.coop
email-hidden: "%68%65%6c%6c%6f%40%68%79%70%68%61%2e%63%6f%6f%70"
phone: +1 437-887-6936
address: Toronto, ON
github: https://github.com/hyphacoop
linkedin: https://www.linkedin.com/company/hyphacoop/
mastodon: https://cosocial.ca/@hyphacoop
twitter: https://twitter.com/hyphacoop/
handbook: https://link.hypha.coop/handbook
rss: "/feed.xml"
# facebook: https://www.facebook.com/hyphacoop/
# instagram: https://instagram.com/hyphacoop/
url: "https://staging.hypha.coop"
footer: Hypha Worker Co-operative Inc.<br>Ontario Corporation No. 5019866

description: >-
  We cultivate collective growth and meaningful livelihoods through learning and building technologies together.

markdown: kramdown
sass:
  style: compressed

permalink: pretty

collections:
  cosmos:
    permalink: /doescosmos/:title/
    output: true
  openings:
    permalink: /openings/:title/
    output: true
  people:
  posts:
    permalink: /dripline/:title/
  work:

date_format: '%B %-d, %Y'
future: true

defaults:
  -
    scope:
      type: posts
    values:
      layout: dripline/post
      activity: true
  -
    scope:
      type: openings
    values:
      layout: openings/opening
  -
    scope: 
      type: people
    values:
      avatar: default.png
  -
    scope:
      type: cosmos
    values:
      layout: cosmos/post
      activity: false

plugins: [
  jekyll-activity-pub,
  jekyll-activity-pub-absolute-assets,
  jekyll-activity-pub-link-iframes,
  jekyll-activity-pub-assets-as-attachments,
  jekyll-activity-pub-fep-fffd-distributed-press,
]

  # TODO: Fix issue with conflict between dweb's requirement for relative urls and RSS's for absolute.
  # See: https://github.com/hyphacoop/hypha.coop/issues/24
  #- jekyll-feed

feed:
  title: "Hypha Worker Co-operative"
  collections:
    posts:
      path: "feed.xml"
      name: "Dripline"
      description: "Our collective writing ranging from short posts, to interviews, design retrospectives, and essays. Published on a (mostly) monthly schedule."
    cosmos:
      path: "cosmos.xml"
      name: "Hypha Does Cosmos"
      description: "Hypha writes about our work in the Cosmos ecosystem"

activity_pub:
  url: "https://social.dp.chanterelle.xyz"
  username: "dripline"
  icons:
  - "assets/images/hypha-social.png"
  images:
  - "assets/images/social-banner.png"

include: [.well-known]
