title: Hypha Worker Co-operative
email: hello@hypha.coop
email-hidden: "%68%65%6c%6c%6f%40%68%79%70%68%61%2e%63%6f%6f%70"
phone: +1 437-887-6936
address: Toronto, ON
github: https://github.com/hyphacoop
linkedin: https://www.linkedin.com/company/hyphacoop/
twitter: https://twitter.com/hyphacoop/
handbook: https://link.hypha.coop/handbook
# facebook: https://www.facebook.com/hyphacoop/
# instagram: https://instagram.com/hyphacoop/
footer: Hypha Worker Co-operative Inc.<br>Ontario Corporation No. 5019866

description: >-
  We cultivate collective growth and meaningful livelihoods through learning and building technologies together.

markdown: kramdown
sass:
  style: compressed

permalink: pretty

collections:
  posts:
    permalink: /dripline/:title/

date_format: '%B %-d, %Y'

defaults:
  -
    scope:
      type: posts
    values:
      layout: dripline/post

plugins:
  - jekyll-feed
