<h2 class="worksans">About</h2>

<h3>
  We help organizations and communities redesign their relationships with digital technology.
</h3>

<h4>
  We advise on sustainable practices, build capacity within organizations, and develop custom technologies to empower friends and neighbours–in the Great Lakes region and our virtual neighbourhoods.
</h4>

<p>
  As a non-profit worker co-operative, we strive to cultivate collective growth and meaningful livelihoods through learning and building digital technologies together.   
</p>