<div class="flex-l items-center mv2">
  <div class="w-100-l mt5 mt6-ns cover">
    <h2 class="w-90 w-70-ns fw4">
      Resilient digital systems. Built for the future we need.
    </h2>
    <div class="measure-wide-l">
      <p class="f3 lh-copy mt0">
        Reality is fragmenting. Generative AI is making it harder to know what's
        real, eroding the shared trust we need to function as a society.
      </p>
      <p class="f3 lh-copy mt0">
        At the same time, Big Tech platforms are tightening their grip. The
        systems we use daily to manage our social and economic lives are locking
        us in and extracting value without giving back.
      </p>
      <h2 class="f2 fw6 mt5 mb3">
        Hypha operates at the intersection of these challenges.
      </h2>
      <p class="f3 lh-copy mt0">
        We build infrastructure that restores information integrity, enables
        verifiable computation, and unlocks new economic models.
      </p>
      <p class="f3 lh-copy mt0">
        Work with us to escape the web of extraction and build a web of
        sovereignty and trust.
      </p>
    </div>
  </div>
</div>
