<div class="lh-copy measure-narrow ml3 bl bw2 b--accent pl3">
  <p>Like others in the Great Lakes region and Toronto, we’ve been closely monitoring the Novel Coronavirus 2019 situation via Toronto Public Health and Ontario Ministry of Health.</p>
  <p>We're offering assistance and sharing resources on how we work as a remote-first worker co-operative in solidarity with workers transitioning to working from home.</p>
  <p>
    <a href="http://covid19.hypha.coop/" class="f6 link dim ph4 pv3 dib white bg-accent" target="_blank">Check out our resource</a>
  </p>
</div>