<div id="openings" class="flex-l items-center mv2">
  <div class="w-100-l">
    <h2 class="f1 lh-solid f-subheadline-l tc sans-serif accent mb4">Join the team</h2>
    {% if site.openings == empty %}
    <h3 class="f3 mb5 f3-l normal lh-solid tc mr-auto ml-auto measure dark-gray sans-serif">
      There are no open positions at this moment. Find out more about pathways to membership in our
      <a href="https://handbook.hypha.coop/Hypha-Worker-Co-operative/member-workers.html">Handbook</a>.
    </h3>
    {% else %}
    <h3 class="f3 mb5 f3-l normal lh-solid tc mr-auto ml-auto measure dark-gray sans-serif">
      Find out more about open positions and pathways to membership, which are
      documented in our
      <a href="https://handbook.hypha.coop/Hypha-Worker-Co-operative/member-workers.html">Handbook</a>.
    </h3>
    {% endif %}
    <!-- <h3 class="mb4 mt0 f2">View our job openings</h3> -->
    <div class="w-100 flex flex-wrap mb4">
      {% for opening in site.openings %}
      <div class="measure w-33-m w-33-l w100 pr3 pl3 mb3">
        <a class="no-underline" href="{{ opening.url | relative_url }}">
          <h4
            class="f3 mt0 mb2 sans-serif normal accent link underline-hover lh-title"
          >
            {{ opening.title }}
          </h4>
        </a>
        <div class="mt0 f4 mb3 dark-gray measure lh-copy">
          {{ opening.excerpt }}
        </div>
        <p class="f5 fw6 gray mt0">Posted on {{ opening.prepared-on-date }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
