<a class="f4 f3-ns accent link underline-hover db dn-l" href="#" aria-label="Close menu">Close menu</a>

<h2 id="menu-heading" class="clip">Menu</h2>
<ul aria-labelledby="menu-heading" class="list mv4 mv0-l pa0 f3 ml3-l pl3-l flex flex-column flex-row-l items-end">
  {% assign pages = site.pages | sort: 'order' %}
  {% assign current_page = page.url %}
  {% assign current_page_slug = page.url | split: '/' %}
  {%- for page in pages -%}
    {% if page.menu_title %}
      <li>
        <a class="pa3 pv0-l db link underline-hover hover-accent mid-gray {% if page.url contains current_page_slug[1] or page.url == current_page %}accent underline{% endif %}" href="{{ page.url | relative_url }}">{{ page.menu_title }}</a>
      </li>
    {% endif %}
  {%- endfor -%}
  {% if site.openings != empty %}
    <li>
      <a class="pa3 pv0-l db link underline-hover hover-accent mid-gray " href="/people#openings">Openings</a>
    </li>
  {% endif %}
</ul>

<p class="gray b sans-serif db dn-l "><span class="dib mr2">Email</span><a class="accent link underline-hover dib sans dn-l normal" href="mailto:{{ site.email-hidden }}">{{ site.email }}</a></p>