<div class="flex-l items-center mv2">
    <div class="w-100-l mt4 mt5-l cover">
        <h2 class="w-90 w-80-ns fw4 f2 f1-l">
            Beyond the Dripline
        </h2>
        <div class="flex-l items-center mt3 mt4-l">
            <div class="w-100 w-two-thirds-l pr4-l">
                <div class="f3 f2-l measure dark-gray lh-copy">
                    Our 
                    <a href="https://newsletter.hypha.coop/" target="_blank" rel="noopener">
                        newsletter</a>
                     where we cultivate stories about co-operative technologies
                </div>
            </div>
            <div class="w-100 w-third-l mt3 mt0-l">
                <div style="min-height: 58px;max-width: 440px;margin: 0;width: 100%">
                    <script src="https://cdn.jsdelivr.net/ghost/signup-form@~0.2/umd/signup-form.min.js"
                        data-button-color="#9900FC" data-button-text-color="#FFFFFF"
                        data-site="https://newsletter.hypha.coop/" data-locale="en" async>
                        </script>
                </div>
            </div>
        </div>
    </div>
</div>