<div class="measure-m mt5 mb4 mr5-l">
  <h2 class="f1 f-subheadline-l sans-serif mt0 accent">Technology you can believe in</h2>
  </div>

<div class="mb5 flex-ns justify-start mt0">
  <div class="measure-wide-l measure-m mr5-l">
    <p class="measure f3 lh-copy mt0">
      We believe richer futures are possible through technology that’s community-driven.
      <br><br>
      New technologies and practices like blockchain, peer-to-peer, open source, and decentralized governance are putting power back into the hands of people.
      <br><br>
      Hypha is dedicated to using its deep expertise in these areas to help communities leverage them accessibly and sustainably.
    </p>
  </div>
  <div class="dn db-l w-25 pt5">
    <img  alt="computer chip" src="/assets/images/block1.png"/>
  </div>
  <div class="w-25-l w-50-m mw-100 pt5-ns pt1">
    <img  alt="computer chip" src="/assets/images/block1.png"/>
  </div>
</div>
