<div class="flex flex-wrap mb4 contain scaling-3">
  {% for person in site.people %}
<article class="mw6 center bg-white br0 pa3 pa4-ns mv3 ba b--black-10">
    <div class="tc">
      <img src="{{ person.avatar }}"
       class="br-100 h5 w5 dib" title="Photo of a kitty staring at you">
      <h1 class="f4">
        {{ person.name }}
      </h1>
      <h2 class="f5 fw4 gray mt0">
 {{ person.pronouns }}
    </h2>
      <hr class="mw3 bb bw1 b--black-10">
    </div>
  <p class="lh-copy measure center f6 black-70">{{ person.content | markdownify }}</p>
  </article>
{% endfor %}
</div>