<div class="flex  justify-start lh-copy f3 mt6 mb4">
  <div class="mr3">
      <h2 class="">What we do</h2>
    <p class="lh-copy f3 measure mt0">
      We’re a diverse team of expert creatives, builders, and organizers who collaborate closely with clients to advance their missions through tech
    </p>
  </div>

</div>
<h3 class="f2 accent">
  Our practice areas
</h3>
<div class="flex flex-between flex-wrap mt5-ns">
  {% assign element = page.what_we_do%} {%
    for element in page.what_we_do %}
    <div class="w-33-l measure flex-column justify-left items-left center-l mb2 tl pr4">
      <h2 class="f3">{{ element.title }}</h2>
      <p class="pb3 f3 lh-copy">{{ element.description }}</p>
    </div>
  {% endfor %}
</div>
