<h2 class="f2 worksans">What we do</h2>

<div class="measure-wide">
  <p class="lh-copy">We are a team of technologists, designers, and community organizers who value working with mission-oriented organizations.</p>
</div>

<div class="measure-wide">
  <p class="lh-copy">Our projects range in size and duration–all the way from facilitating tailored workshops, providing digital coaching, developing web applications, or organizing multi-day events, to deploying and maintaining mesh networks.</p>
</div>

<div>
  <h3 class="f3">Strategy & coaching</h3>
  <ul class="lh-copy list pl0">
    <li>Digital needs and maturity assessment</li>
    <li>Event and workshop facilitation</li>
    <li>Community building</li>
    <li>Privacy, security, sustainability, and digital best practices</li>
  </ul>
</div>

<div>
  <h3 class="f3">Technology design & development</h3>
  <ul class="lh-copy list pl0">
    <li>Web development</li>
    <li>Mobile applications</li>
    <li>Decentralized web</li>
    <li>Peer-to-peer (P2P) software</li>
  </ul>
</div>

<div>
  <h3 class="f3">Infrastructure deployment & management</h3>
  <ul class="lh-copy list pl0">
    <li>Server management</li>
    <li>Continuous integration and delivery (CI/CD) processes</li>
    <li>Self-hosted services</li>
    <li>Mesh networks</li>
  </ul>
</div>