<div class="flex-l items-center contain bg-left aliased bw2 pv4-m pv4-l bt b--accent scaling-3">
  <div class="w-50-l">
    
    <h2 class="f1 f-subheadline-l worksans accent mb1-l mt0-l">Who we are</h2>
    
    <h3 class="mb0 w-100 accent normal f3 f2-l lh-solid relative w5 bg-white z-1 vw-70-l">
      We advise on sustainable practices, build capacity within organizations, and develop custom technologies to empower friends and neighbours–in the Great Lakes region and our virtual neighbourhoods.
    </h3>

    <p class="measure-wide f4 f3-l lh-copy dark-gray bg-white">
      As a non-profit worker co-operative, we strive to cultivate collective growth and meaningful livelihoods through learning and building digital technologies together.
    </p>
  </div>
  <div class="w-50-l">
    <figure class="ma0 ma4 relative">
      <img class="db" src="/assets/images/scaling-1.png" alt="Photo by Caleb George on Unsplash">
      <figcaption class="absolute bottom-2-l bottom-1 left-1 left-2-l f6-l f7 white">Photo by Caleb George on Unsplash</figcaption>
    </figure>
  </div>
</div>
