<div class="flex-l mv2">
  <div class="w-75-l">
    <h2 class="f1 f-subheadline-l sans-serif accent mb1">Work with us</h2>

    <h3 class="f3 f3-l normal lh-solid measure  sans-serif">
      We would love to hear from you about new projects, partnerships, and
      collaborations.
    </h3>
    <dl class="dib mr5">
      <dt class="mb3 mt0 f3"><strong>Telephone</strong></dt>
      <dd class="ml0">
        <a
          class="accent f4 link underline-hover"
          href="tel:{{ site.phone | | remove: ' ' | remove: '-' }}"
          >{{ site.phone }}</a
        >
      </dd>
    </dl>
    <dl class="dib mr5">
      <dt class="mb3 mt0 f3"><strong>Email</strong></dt>
      <dd class="ml0">
        <a
          class="accent f4 link underline-hover"
          href="mailto:{{ site.email-hidden }}"
          >{{ site.email }}</a
        >
      </dd>
    </dl>
  </div>
  <div class=" contain  w-25-l">
    <img class ="mw-50 di-ns dn" alt="server" src="/assets/images/block3.png">
    <img alt="server" src="/assets/images/block3.png">
  </div>
</div>
