<div class="flex-l mt6-ns mt5">
  <div class="w-75-l pr4-l">
    <h2 class="f1 f-subheadline-l sans-serif accent">Work with us</h2>

    <p class="f3 lh-copy measure-wide mt0 mb4">
      We're looking for projects and partnerships focused on the intersection of technology and trust. If you're interested in building systems that need to be verifiable, democratic, or genuinely decentralized — or you're curious about exploring the possibilities — get in touch.
    </p>

    <div class="measure-wide f3">
      <div class="flex flex-wrap">
        <dl class="dib mr5 mb3">
          <dt class="mb2 mt0 f4"><strong>Book a meeting</strong></dt>
          <dd class="ml0">
            <a class="accent f4 link" href="https://link.hypha.coop/hello-udit">Schedule a call</a>
          </dd>
        </dl>
        <dl class="dib mr5 mb3">
          <dt class="mb2 mt0 f4"><strong>Email</strong></dt>
          <dd class="ml0">
            <a class="accent f4 link" href="mailto:{{ site.email-hidden }}">{{ site.email }}</a>
          </dd>
        </dl>
        <dl class="dib mr5 mb3">
          <dt class="mb2 mt0 f4"><strong>Telephone</strong></dt>
          <dd class="ml0">
            <a class="accent f4 link" href="tel:{{ site.phone | remove: ' ' | remove: '-' }}">{{ site.phone }}</a>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="contain w-25-l mt5">
    <img class="mw-50 di-l dn" alt="server" src="/assets/images/block3.png" loading="lazy">
    <img alt="server" src="/assets/images/block3.png" loading="lazy">
  </div>
</div>
