<footer class="ph3-m ph5-ns mw9 center mv5">
  <div class="flex items-baseline">
    <div class="w-50"><p class="f4">{{ site.footer }}</p></div>
    <div class="w-50">
      <ul class="list pl0 flex f4">
        <li class="pr3"><a href="{{ site.github }}" class="accent" target="_blank">GitHub</a></li>
        <li class="pr3"><a href="{{ site.linkedin }}" class="accent" target="_blank">LinkedIn</a></li>
        <li class="pr3"><a href="{{ site.twitter }}" class="accent" target="_blank">Twitter</a></li>
        <li class="pr3"><a href="{{ site.handbook }}" class="accent" target="_blank">Handbook</a></li>
      </ul>
    </div>
  </div>
</footer>