{%- comment -%}

Image component

@param :src [String]
@param :alt [String]
@param :width [Integer]
@param :height [Integer]
@param :class [String]
@param :img_class [String]
{%- endcomment -%}

<picture class="{{ include.class }}">
  <source
    srcset="
      {%- for pixel_density in site.data.theme.pixel_densities %}
        {% if include.width %}
          {%- assign w = include.width | times: pixel_density -%}
        {% elsif include.height %}
          {%- assign h = include.height | times: pixel_density -%}
        {% endif %}
        {{- include.src | thumbnail: w, h | uri_escape }} {{ pixel_density }}x,
      {% endfor -%}
      " />

  <img
    class="{{ include.img_class }}"
    src="{{ include.src | thumbnail: include.width, include.height | uri_escape }}"
    alt="{{ include.alt | default: 'Image from Mastodon' | escape_once }}" />
  </picture>
