@font-face {
  font-family: WorkSans;
  font-style: normal;
  src: url('../fonts/WorkSans-VariableFont_wght.woff2') format('woff2');
  font-display: optional;
}

@font-face {
  font-family: WorkSans;
  font-style: italic;
  src: url('../fonts/WorkSans-Italic-VariableFont_wght.woff2') format('woff2');
  font-display: optional;
}
