// Hypha brand colour classes
@use "variables" as *;
@use "tachyons-sass/scss/imports" as *;
@use "sass:color";

html {
  background-color: $white;
}

.accent {
  color: $accent-color;
}

.bg-accent {
  background-color: $accent-color;
}

.b--accent {
  border-color: $accent-color;
}

.hover-bg-accent:hover,
.hover-bg-accent:focus {
  background-color: $accent-color;
}

.hover-accent:hover,
.hover-accent:focus {
  color: $accent-color;
}

mark {
  background-color: $secondary-accent-color;
}

// Font Smoothing

.aliased {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Additional viewport width helpers

.vw-70-l {
  @media screen and (min-width: 60em) {
    width: 70vw;
  }
}

// Wrapper links color helper

.links-accent a {
  color: $accent-color;
}



// Menu interaction

#menu:target,
#menu:target +#white-space  {
  display: flex;
}

#menu:target +#white-space {
  height:100vh;
}

#menu:target + .backdrop {
  display: flex;
  @media screen and (min-width: 60em) {
    display: none;
  }
}

.scaling-2 {
  background-image: url(/assets/images/scaling-2.png);
}

.scaling-3 {
  background-image: url(/assets/images/scaling-3.png);
}

@media #{$breakpoint-large} {
  .work {
    background-image: url(/assets/images/work-1.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-origin: revert;
    background-size: 12%;
  }
  .footer {
    background-image: url(/assets/images/footer1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 20%;
  }
  .root-and-lines {
    background-image: url(/assets/images/root2-crop.png),
      url(/assets/images/footer1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom right;
    background-size: 40%, 20%;
  }
  .mushroom-and-lines {
    background-image: url(/assets/images/work-1.png),
      url(/assets/images/footer1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom right;
    background-size: 12%, 20%;
  }
  .network-and-lines {
    background-image: url(/assets/images/default-2-2.jpg),
      url(/assets/images/footer1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom right;
    background-size: 23%, 20%;
  }
  .dripline-and-lines {
    background-image: url(/assets/images/dripline-2.png),
      url(/assets/images/footer1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom right;
    background-size: 30%, 20%;
    @media screen and (min-width: 1600px) {
      background-size: 25%, 20%;    
    }
  }
  .c-lab-and-lines {
    background-image: url(/assets/images/root1.png),
      url(/assets/images/footer1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom right;
    background-size: 30%, 20%;
    @media screen and (min-width: 1600px) {
      background-size: 40%, 20%;    
    }
  }
}

.block {
  background-image: url(/assets/images/block1.png);
}
.block-3 {
  background-image: url(/assets/images/block3.png);
}
.electric-lines {
  background-image: url(/assets/images/footer1.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 20%;
}
.canopy {
  background-image: url(/assets/images/canopy2.png);
  // background-repeat: no-repeat;
  // background-position: top right;
  // background-size: 10%;
}

.mbtablestyle {
  border-collapse: collapse;
  > table,
  td,
  th {
    border: 1px solid black;
    padding: 0.25em;
  }
}

// Section templates

//for section headers
h1 {
  @extend .f2;
  @extend .f1-m;
  @extend .f-subheadline-l;
  @extend .accent;
  @extend .normal;
  @extend .sans-serif;
  @extend .mb4;
  @extend .lh-solid;
}

h2 {
  @extend .f1;
  @extend .f-subheadline-l;
  @extend .sans-serif;
  @extend .accent;
  @extend .ma0;
  @extend .mb4;
  // border: 1px solid black;
}

h3 {
  @extend .f3;
  @extend .f2-l;
  @extend .fw6;
  @extend .mb3;
}

// Homepage h3 elements should be purple (accent color)
.root-and-lines h3 {
  color: $accent-color;
}

// Newsletter h3 on homepage should be black
.root-and-lines .newsletter-section h3 {
  color: $black;
}

p {
  @extend .lh-copy;
  @extend .f4;
  // border: 1px dotted black;
}

a {
  @extend .accent;
  @extend .link;
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
}


#what_we_do div.accent:hover,
#values div.accent:hover {
  background-color: color.adjust($accent-color, $lightness: 45%);
}

// @use 'tachyons-sass/scss/variables';

// @media #{$breakpoint-small} {
  // .flex-wrap-s { flex-wrap: wrap;}
  // }