// Hypha brand colour classes

.accent {
  color: $accent-color;
}

.bg-accent {
  background-color: $accent-color;
}

.b--accent {
  border-color: $accent-color;
}

.hover-bg-accent:hover,
.hover-bg-accent:focus {
  background-color: $accent-color;
}

.hover-accent:hover,
.hover-accent:focus {
  color: $accent-color;
}

mark {
  background-color: $secondary-accent-color;
}

// Font Smoothing

.aliased {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Additional viewport width helpers

.vw-70-l {
  @media screen and (min-width: 60em) {
    width: 70vw;
  }
}

// Wrapper links color helper

.links-accent a {
  color: $accent-color;
}

.links-underline-hover a:hover {
  text-decoration: none;
}

// Menu interaction

#menu:target {
  display: flex;
}

#menu:target + .backdrop {
  display: flex;
  @media screen and (min-width: 60em) {
    display: none;
  }
}

.scaling-2 {
  background-image: url(/assets/images/scaling-2.png);
}

.scaling-3 {
  background-image: url(/assets/images/scaling-3.png);
}

.mbtablestyle {
  border-collapse: collapse;
  > table, td, th {
      border: 1px solid black;
      padding: 0.25em;
  }
}

