{%- comment -%}
  Modal preparado para recibir contenido + header y footer

  @param :header [Capture] contenido del header
  @param :body [Capture] contenido del modal
  @param :footer [Capture] contenido del footer
  @param :header_class [String] clases del header
  @param :body_class [String] clases del cuerpo principal
  @param :footer_class [String] clases del header
  @param :content_class [String] clases todo el bloque
{%- endcomment -%}

{% assign header = include.header %}
{% assign header_class = include.header_class %}
{% assign body = include.body %}
{% assign body_class = include.body_class %}
{% assign footer = include.footer %}
{% assign footer_class = include.footer_class %}
{% assign content_class = include.content_class %}

<div aria-hidden="true" class="fixed z-1 top-0 left-0 w-100 h-100 bg-black-50 mw-100" data-action="keydown-&gt;modal#hideWithEscape" data-modal-target="modal" tabindex="-1">
<div class="fixed top-0 left-0 w-100 h-100 bg-black-50 z-1" data-action="click-&gt;modal#hide" data-modal-target="backdrop"></div>
<div class="relative w-90 mw6 center modal-dialog-scrollable flex items-center justify-center w-90 mw7 z-999" role="document">
<div class="bg-white br2 shadow-1">
      {% if header %}
        <div class="bb b--black-10 pa3">
          {{ header }}
        </div>
      {% else %}
        <div class="bb b--black-10 pa3 justify-end bb-0 pa0">
<span class="ph3 pv2 ma0 f1 lh-title b" data-action="click-&gt;modal#hide" type="button">×</span>
<span class="clip">{{ site.i18n.close }}</span>
</div>
      {% endif %}

      <div class="pa3">
        {{ body }}
      </div>
<div class="bt b--black-10 pa3 nowrap">
        {% if footer %}
          {{ footer }}
        {% else %}
          <button class="pointer br2 ba bg-light-gray dark-gray ma0" data-action="modal#hide" type="button">{{ site.i18n.close }}</button>
        {% endif %}
      </div>
</div>
</div>
</div>
