{%- comment -%}
  Modal para loguearse al fediverso

  @param :action [String] acción que le usuarie quiere realizar desde el fediverso
  @param :fa [String] nombre del ícono que usa fork-awesome
  @param :uri [String] la URL sobre la que se interactúa
  @param :profile [ActivityDrop] Actor
{%- endcomment -%}

{% assign action = include.action %}
{% assign fa = include.fa %}
{% capture name %}
  {% include activity_pub/actor.html actor=include.profile %}
{% endcapture %}

{% capture header %}

  <div class="flex items-center f1 lh-title justify-center w-100">
<span class="flex flex items-center justify-between b tc">
<i class="fa fa-{{fa}} blue mr2"></i>
<span class="word-wrap">{{ site.i18n.login_modal[action.title].text | replace: "$usuarie", name }}</span>
<div>
<span class="ph3 pv2 ma0 f1 lh-title" data-action="click-&gt;modal#hide" type="button">×</span>
<span class="clip">{{ site.i18n.close }}</span>
</div>
</span>
</div>
{% endcapture %}

{% capture body %}
  <p class="mb2">{{site.i18n.login_modal.top_text | markdownify | replace: "$action", site.i18n.login_modal[action.title].title }}</p>
<div class="mt3 mb2 f5 lh-title">{{site.i18n.login_modal.question | markdownify}}</div>
<div class="mb3">
<form class="ba b--red" data-action="authorize-interaction#submit:prevent" data-authorize-interaction-uri-value="{{ include.uri | strip_html | absolute_url | uri_escape }}" data-controller="authorize-interaction">
<div class="form-row items-center ba bw2 ba bw2 b--blue pv1">
<div class="w-100 flex-auto mb1 mb0-l">
<label class="clip">{{site.i18n.login_modal.placeholder}}</label>
<input autocomplete="impp" class="form-control ba b--blue ba bw0" data-action="authorize-interaction#revalid" data-authorize-interaction-target="instance" placeholder="{{site.i18n.login_modal.placeholder}}" required="" type="search"/>
<div class="invalid-feedback">
            {{- site.i18n.login_modal.authorize_interaction_unsupported -}}
          </div>
</div>
<div class="w-100 flex-none">
<button class="pointer br2 ba bg-blue white w-100 pv2 lh-solid f6 b" type="submit">{{ site.i18n.take_me_home }}</button>
</div>
</div>
</form>
</div>
<small class="db mb2">{{site.i18n.login_modal.small_text}}</small>
<span>{{site.i18n.login_modal.bottom_text | markdownify}}</span>
{% endcapture %}

{% capture footer %}
{% endcapture %}

{% include activity_pub/button.html header=header body=body footer=footer header_class="justify-content-center border-bottom-0" body_class="justify-content-center" footer_class="border-top-0" content_class="p-2" button_class="mx-1" fa=action.icon description=include.description %}
