{%- comment -%}
  Modal con imagen

  @param :image [Image] la imagen que queremos en el modal, contiene url y alt text
{%- endcomment -%}

{% capture body %}
  <video src="{{include.video.url}}" controls></video>
{% endcapture %}

<div class="{{ include.extra }} px-1" data-controller="modal">
  <div class="embed-responsive embed-responsive-16by9">
    <video
      class="cursor-pointer min-w-100px w-100 embed-responsive-item object-fit-cover"
      src="{{include.video.url}}"
      data-action="click->modal#show"
    ></video>
  </div>
  {% include activity_pub/generic_modal.html header_class="text-white" body=body body_class="d-flex justify-content-center" footer_class="d-none" content_class="background-transparent border-0" %}
</div>
