<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="sans-serif antialiased debug  {% if page.title == 'Dripline' %} dripline-and-lines {% elsif page.title == 'Work' %} network-and-lines {% elsif page.title == 'People' %} mushroom-and-lines {% else %} root-and-lines {% endif %}">

    {%- include sections.html tag="header" path="header.html" class="pt4 flex items-baseline mw9 center justify-between" -%}
    <main class="mw9 center">
      {{ content }}
    </main>

    {%- include sections.html tag="footer" path="footer.html" class="mw9 center mv5" -%}

  </body>
</html>