<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="sans-serif antialiased debug {% if page.title == 'Dripline' %} dripline-and-lines {% elsif page.title == 'Work' %} network-and-lines {% elsif page.title == 'People' %} mushroom-and-lines {% elsif page.title == 'Home' %} root-and-lines {% elsif page.title == 'Co-Creation Lab' %} c-lab-and-lines {% else %} footer {% endif %}">
    <a href="#maincontent" class="skip-link absolute top-0 left-0 z-max pa2">Skip to main content</a>
    {%- include sections.html tag="header" path="header.html" class="pt4 flex items-baseline mw9 center justify-between" -%}
    <main id="maincontent" class="mw9 center">
      <section class="mt4 ph3 pl5-l">
        <header>
          <div class="flex-l items-center mv0">
            <div class="w-100-l mb2">
              <h3 class="f2 f1-m f-subheadline-l accent normal sans-serif mb4 lh-solid">{{ page.title }}</h3>
              <div class="f3 measure-wide dark-gray lh-copy mb0">
                <p class="f3">{{ page.excerpt }}</p>
                {% if page.diagram %}
                    <div class='flex items-center justify-center' style="width: 100%;">
                        <img style='width:80%;' src="{{ page.diagram | relative_url }}" alt="{{ page.diagram_alt_text }}"/>
                    </div>
                {% endif %}
                <p class="f4">
                  <em>{{ page.tagline }}</em>
                </p>
                {%if page.description %}
                  <p class="pb3 f3 lh-copy measure-wide mb4">
                    {{ page.description }}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
        </header>
      </section>
      <section class="mt4 ph3 pl5-l">
        <h3 class="f2 f1-m f-subheadline-l accent normal sans-serif mb2 lh-solid">Services</h3>
        <div class="w-100 flex flex-wrap mb4 justify-start">
          {% for service in page.services %}
            <div class="w100 pr3">
              <h4 class="f3 measure-wide mb0 lh-copy accent">{{ service.title }}</h4>
              {% for paragraph in service.description %}
                <p class="pb3 f3 lh-copy measure-wide">{{ paragraph }}</p>
              {% endfor %}
              {% if service.list %}
                <ul class="pb3 f3 lh-copy measure-wide">
                  {% for item in service.list %}
                    <li>{{ item }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </section>
      <section class="mt4 ph3 pl5-l">
        <h3 class="f2 f1-m f-subheadline-l accent normal sans-serif mb2 lh-solid">Selected work</h3>
        <div class="flex flex-wrap justify-left mb4 pv4">
          {% assign index_page = site.pages | where: "title", "Home" | first %}
          {% assign practice_slug = '' %}
          {% for practice in index_page.what_we_do %}
            {% if practice.title == page.title %}
              {% assign practice_slug = practice.slug %}
            {% endif %}
          {% endfor %}
          {% assign matching_projects = site.work | where: "practice_area", page.title | where: "preview", true %}
          {% for project in matching_projects %}
            {%- include sections/project.html project=project -%}
          {% endfor %}
        </div>
      </section>
      </main>
      {%- include sections.html tag="footer" path="footer.html" class="mw9 center mt5" -%}
    </body>
</html>
      